/*Colors---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
*{
	/*~Background~*/
	-back-max:#060606;
	-back-med:#181818;
	-back-min:#262626;
	
	/*~Item~*/
	-item:White;
	-item-highlight:LimeGreen;
	
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Pane------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*~Header~*/
#header{
	-fx-background-color:-back-max;
	-fx-spacing:200;
}

/*~Container~*/
#pane{
	-fx-background-color:-back-med;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Universal------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*~Label~*/
.label{
	-fx-text-fill:-item;
	-fx-font-family:Verdana;
	-fx-font-size:20;
	-fx-font-weight:bold;
}

/*~Button~*/
.button{
	-fx-background-color:Transparent;
	
	-fx-text-fill:-item;
	-fx-font-family:Verdana;
	-fx-font-size:20;
	-fx-font-weight:bold;
}
.button:hover{/*+Hover*/
	-fx-background-color:-back-med;
	-fx-text-fill:-item-highlight;
}
.button:pressed{/*+Pressed*/
	-fx-background-color:-back-min;
}

/*~Check Box~*/
.check-box .box{
	-fx-background-color:-back-max;
	
	-fx-border-radius: 5em;
	
	-fx-background-radius: 5em;
	-fx-min-width: 3px;
	-fx-min-height: 3px;
	-fx-max-width: 3px;
	-fx-max-height: 3px;
}
.check-box:selected .box{
	-fx-background-color:-item-highlight;
}
.check-box:selected .mark{
	-fx-background-color:Transparent;
}
.check-box:hover .box{
	-fx-border-color:-back-min;
}

/*~Text Field~*/
.text-field{
	-fx-highlight-fill: -item-highlight;
	
	-fx-background-color:-back-max;
	
	-fx-text-fill:-item;
	-fx-font-family:Verdana;
	-fx-font-size:20;
	-fx-font-weight:bold;
}

/*~Text Area~*/
.text-area ,.text-area .content{
	-fx-highlight-fill: -item-highlight;
	
	-fx-background-color:-back-max;
	-fx-border-color:-back-max;
	
	-fx-text-fill:-item;
	-fx-font-family:Verdana;
	-fx-font-size:20;
	-fx-font-weight:bold;
	
	
}

/*~Slider~*/
.slider{
	-fx-pref-width:400;
}
.slider .track, .slider .thumb{
	-fx-background-color:-item;
}
.slider:pressed .track,.slider:pressed .thumb{/*+Pressed*/
	-fx-background-color:-item-highlight;
}

/*~List View~*/
.list-cell,.list-view{
	-fx-background-color:Transparent;
}
.list-view .scroll-bar{
	-fx-background-color:Transparent;
}
.list-view .scroll-bar .thumb, .list-view .scroll-bar .decrement-arrow, .list-view .scroll-bar .increment-arrow{
	-fx-background-color:-item;
}
.list-view .scroll-bar .thumb:pressed{/*+Pressed*/
	-fx-background-color:-item-highlight;
}
.list-view .scroll-bar .decrement-button:hover, .list-view .scroll-bar .increment-button:hover{/*+Hover*/
	-fx-background-color:-back-med;
}
.list-view .scroll-bar .decrement-arrow:hover, .list-view .scroll-bar .increment-arrow:hover{/*+Hover*/
	-fx-background-color:-item-highlight;
}

/*~Object Menu~*/
.menu-item, .context-menu{
	-fx-background-color:-back-med;
}
.context-menu{
	-fx-border-color:-item;
}
.menu-item:hover{/*+Hover*/
	-fx-background-color:-back-max;
}
.menu-item:hover > .label{/*+Hover*/
	-fx-text-fill:-item-highlight;
}

/*Dialog Pane*/
.dialog-pane{
	-fx-background-color:-back-max;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Special------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*~Title (App Name)~*/
.title{
	-fx-text-fill:-item-highlight;
}

/*~Item Box (Console, Game, Achievement)~*/
.item-box{
	-fx-background-color: Transparent;
}
.item-box:hover{/*+Hover*/
	-fx-background-color: -back-min;
}
.item-box:hover > .label{/*+Hover*/
	-fx-text-fill:-item-highlight;
}

/*~Marker~*/
.marker{
	-fx-text-fill:-item-highlight;
	-fx-font-size:40;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/